<!--<nav class="navbar  navbar-expand-md navbar-light bg-light">-->
    <!--<div class="container-fluid">-->
      <!--&lt;!&ndash; <h4>武汉新锐<a href="#"> 地址.co</a> - Copyright 2018</h4> &ndash;&gt;-->
      <!--<p><span class="icon  icon-globe"></span>武汉新锐设计<a href="#">  </a> - Copyright 1999 - 2018</p>-->
    <!--</div>-->
<!--</nav>-->
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>
