
<app-carousel></app-carousel>

          <!--<h2>餐饮品牌设计</h2>-->
          <!--<p class="card-text">打造最具竞争力的餐饮品牌  将设计角度眼于市场，协同客户在同性餐饮中，找出合身的品牌形象与定位。</p>-->
      <!---->
            <!--<h2>策划级菜谱</h2>-->
            <!--<p class="card-text">菜谱也要讲究排兵布阵，根据菜品特点，用策略制定合理营销，提升菜品的点击率。</p>-->
         <!---->
            <!--<h2>专业美食摄影</h2>-->
            <!--<p class="card-text">用视觉创意还原美食灵魂   我们摄影师的作品，是视觉的盛宴，足以让每一位消费者都能够用眼睛来品尝最诱惑的味道。</p>-->



 <div class="card">
     <div class="card-header">card-header</div>
   <div class="card-body">
     <div class="card-title">card-body</div> </div>
   <div class="card-footer">card-footer</div>
 </div>

